.fit-cover {
  object-fit: cover;
}

.profile-pic {
  object-fit: cover;
  object-position: center top;
  max-height: 150px;
  min-height: 150px;
}

.nopad {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.overlay-text-box {
  position: absolute;
  top: 25%;
  right: 10%;
  /*transform: translateY(-100%);*/
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  color: white;
}

carousel-img {
  min-height: 300px;
}

.carousel-img {
}

